/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
 .text-input{
    // height: 0px;
    // width: 10px;
}

.entry-form-container {
    // width: 300px;
    padding: 20px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.did-floating-label-content {
    position: relative;
    // margin-bottom:20px; 
}

.did-floating-label {
    color: #193d25;
    font-size: 13px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 11px;
    padding: 0 5px;
    background: #fff;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.entry-forms-input,
.entry-forms-input-select {
    font-size: 14px;
    display: block;
    width: 100%;
    height: 36px;
    padding: 0 20px;
    background: #fff;
    color: #323840;
    border: 1px solid #4caf50;
    border-radius: 4px;
    box-sizing: border-box;

    &:focus {
        outline: none;

        ~.did-floating-label {
            top: -8px;
            font-size: 13px;
        }
    }
}

select.entry-forms-input-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select.entry-forms-input-select::-ms-expand {
    display: none;
}

.entry-forms-input:not(:placeholder-shown)~.did-floating-label {
    top: -8px;
    font-size: 13px;
}

.entry-forms-input-select:not([value=""]):valid~.did-floating-label {
    top: -8px;
    font-size: 13px;
}

.entry-forms-input-select[value=""]:focus~.did-floating-label {
    top: 11px;
    font-size: 13px;
}

.entry-forms-input-select:not([multiple]):not([size]) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='6' viewBox='0 0 8 6'%3E%3Cpath id='Path_1' data-name='Path 1' d='M371,294l4,6,4-6Z' transform='translate(-371 -294)' fill='%23003d71'/%3E%3C/svg%3E%0A");
    background-position: right 15px top 50%;
    background-repeat: no-repeat;
}

.did-error-input {

    .entry-forms-input,
    .entry-forms-input-select {
        border: 2px solid #9d3b3b;
        color: #9d3b3b;
    }

    .did-floating-label {
        font-weight: 600;
        color: #9d3b3b;
    }

    .entry-forms-input-select:not([multiple]):not([size]) {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='6' viewBox='0 0 8 6'%3E%3Cpath id='Path_1' data-name='Path 1' d='M371,294l4,6,4-6Z' transform='translate(-371 -294)' fill='%239d3b3b'/%3E%3C/svg%3E%0A");
    }
}

.input-group {
    display: flex;

    .entry-forms-input {
        border-radius: 0 4px 4px 0;
        border-left: 0;
        padding-left: 0;
    }
}

.input-group-append {
    display: flex;
    align-items: center;
    /*   margin-left:-1px; */
}

.input-group-text {
    // display: flex;
    // align-items: center;
    // font-weight: 400;
    // height: 34px;
    // color: #323840;
    // padding: 0 5px 0 20px;
    // font-size: 12px;
    // text-align: center;
    // white-space: nowrap;
    // border: 1px solid #4caf50;
    // border-radius: 4px 0 0 4px;
    // border-right: none;
}
.did-floating-label-content  {
    .multiselect-dropdown{
        padding-top: 12px ;
        .maxselected{
            width: auto;
        }
    }
   
    
}